body {
  font-family: 'Source Sans Pro', 'Trebuchet MS', 'Lucida Grande', 'Bitstream Vera Sans', 'Helvetica Neue', sans-serif;
  font-size: 30px;
  margin: 0.5em;
  text-align: center;
}

img {
  margin: 20px 0;
  max-width: 200px;
}

.maze {
  background-color: black;
  border: 1px solid black;
  display: inline-block;
  overflow: visible;
}

.maze__row {
  display: flex;
}

.maze__grid {
  background-color: white;
  height: 12px;
  width: 12px;
}

.maze__grid--blocked {
  background-color: black;
}
